*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

/**Theme*/
.theme-btn{
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0px;
    right: 30px;
}
.fa-sun{
    background-color: #040404;
}
.fa-moon{
    background-color: "white";
}

.theme-btn i{
    font-size: 30px;
    border-radius: 50%;
    padding: 18px;
}

.theme-btn i:hover{
    cursor: pointer;
}

.theme-btn i{
    color: white;
}



/**Rotation**/
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

body{
    background-color: #e6e6e6;
    position: relative;
}

.wrapper{
    background:linear-gradient(180deg,#22262A 0%,#181A1D 100%);
    width: 750px;
    height: 90vh;
    margin:  auto;
    overflow: hidden;
    text-align: center;
    padding: 1.5rem 2rem 2.5rem;
    margin:  2.3rem auto;

    border-radius: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


header .buttonsHeader{
    width: 45%;
    min-width: 300px;
}
.buttonsHeader, .song-duration, .controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header .hdr-btn{
    background: linear-gradient(135deg,#2F3439,#1D1F23);
    color: #86898c;


    border: 2px solid #222622;
    box-shadow: 4px 4px 10px #151618,-4px -4px 10px #2c3136;

    
    font-size: 22px;
    border-radius: 50%;
}

header .hdr-btn:active{
    transform: all 0.8s  ease;
    cursor: pointer;
    box-shadow: -4px -4px 10px #151618,4px 4px 10px #2c3136;

}

.hdr-btn i{
    padding: 12px 12px;
    border-radius: 50%;
}
.hdr-btn .volume-btn{
    padding:12px 10px;
}

header h3{
    text-transform: uppercase;
    font-size: 18px;
    color: #86898c;
}

/**Player Section**/


.player, header{
    margin-top: 2rem;
}


.image{
    width: 18rem;
    height: 18rem;
    border-radius:50% ;
    object-fit:cover;
    user-select: none;
    margin-bottom: 2rem;
    border: 10px solid #1a1d21;
    box-shadow: -6px -6px 10px #151618,6px 6px 10px #2c3136;
}




.name{
    color: #a7a9ab;
    text-transform: capitalize;
}

.artist{
    color: #7c7d80;
    text-transform: capitalize;
    padding: 10px 0;
}
/**Duration Bar**/

.audio{
    margin: 5px 0;
}

.song-duration{
    margin-bottom: 20px;
}

.song-duration span{
    font-size: 12px;
    user-select: none;
    color: #86898c;
    font-weight: 500;
}

.progress{
    height: 7px;
    width: 100%;
    user-select: none;
    margin: 15px 0 0 0;
    background: #040404;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: inset 2px 2px 3px -2px rgba(167,169,171,0.322);
}


.progress .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg,#bf2311 0%,#e1530a 80%);

    box-shadow: inset 2px 2px 3px -2px rgba(167,169,171,0.322),
    inset 0px -1px 1px 0px #4a4c4e;
}
.progress-bar::before{
    content: "";
    position: absolute;
    background: linear-gradient(135deg,#2F3439,#1D1F23);
    box-shadow: 8px 8px 12px #151618,
    -2px -2px 10px #2c3136,
    inset 2px 2px 3px #33353b,
    inset -2px -2px 3px #151618;
    border-radius: 50%;
    top: 50%;
    right: -14px;
    z-index: 0;
    width: 28px;
    height: 28px;
    outline: none;
    border: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.progress-bar::after{
    content: "";
    position: absolute;
    background: #e1530a;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 1;
    width: 10px;
    height: 10px;
    outline: none;
    border: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

/**control buttons**/
.controls{
    margin: 35px 10px 5px;
}

.btnC{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    
    background:linear-gradient(135deg,#2c3136,#1d2023);

    border: 2px solid #222622;
    box-shadow: 4px 4px 10px #151618,-4px -4px 10px #2c3136;
}

.btnC i{
    user-select: none;
}
.btnC:active{
    transform: all 0.8s  ease;
    cursor: pointer;

    box-shadow: -4px -4px 10px #151618,4px 4px 10px #2c3136;
}

.play-pause:active{
    box-shadow: 16px 16px 12px #151618,
    -12px -12px 12px #222529,
    inset -16px -16px 8px #e5550b,
    inset 16px 16px 8px #bd2210;
}

.play-pause{
    height: 60px;
    width: 60px;
    border: 3px solid #ce4b0e;
    background: linear-gradient(135deg,#bd2210,#e5550b);

    box-shadow: 10px 10px 12px #151618,
    -10px -10px 12px #222529,
    inset 4px 4px 8px #e5550b,
    inset -4px -4px 8px #bd2210;
}


.controls i{
    font-size: 22px;
    color: #a7a9a7;
}

.play-pause i{
    color: #fff;
    text-align: center;
}


.rotate{
    animation: rotation 8s linear infinite;
    transform-origin: center;
}


.clicked{
    color: white;
    display: none;
}

/**version 3.0 menu**/

.menu{
    margin-top: 2rem;
}

.menu h3{
    margin-bottom: 1rem;
}
.songsMenu{
    height: 55vh;
    overflow-y: scroll;
}

#songMenu::-webkit-scrollbar{
    width: 10px;
    background-color: #a7a9ab;
    border-radius: 12px;  
}
#songMenu::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background-color:#7c7d80;
}
.songsMenu img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right:10px ;
}

.song{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 1rem auto 3rem;
    text-align: left;
    width: 250px;
    user-select: none;
}

.songDetails{
    max-width: 150px;
    user-select: none;
}
.song h4{
    text-transform: none;
    padding-bottom: 2px;
    color: #a7a9ab;
}

.song h5{
    color: #7c7d80;
}

.song:hover{
    transition: 0.4s ease-in-out all;
    cursor: pointer;
    background-color: #040404;
    padding: 10px;
    border-radius: 26px;
    color: #e5550b;
}


